*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg-rumah.jpg);
    background-size: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(50%);
}

#hero_content{
    position: absolute;
    
}

#hero_content h1{
    color: #fff;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px #000;
}
#hero_content h2{
    color: #fff;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
#hero_content a{
    color: #fff;
    padding: 3px 20px 3px 20px;
    border: 1px solid white;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 25px;
}

#hero_content a:hover{
    background: rgb(87, 87, 87);
}

#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

nav h1{
    color: white;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li:hover, #phone a:hover{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

nav ul li a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
}

nav a:hover{
    background-color: #232323;
    border-radius: 5px;
}

nav ul li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.132);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.show {display: block;}

#phone a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 15px 3px 15px;
    border: 1px solid white;
}

#menu{
    padding: 25px 0 25px 0;
}

#section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu_row{
    display: flex;
    padding: 0 100px 0 100px;
}

#menu_col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

#menu_col h2{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}

#image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid red;
}
#image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

#juru_masak{
    padding: 25px 0 25px 0;
}

#jurmas_row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.jurmas_col{
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#img{
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
}

#img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#about{
    padding: 25px 0 25px 0;
}

#about_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}

.about_col{
    flex: 1;
}

.about_col h1{
    text-align: center;
    font-family: cursive;
}

.about_col p{
    text-align: justify;
    /* font-family: cursive; */
    font-weight: bold;
}

#about_img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}

#about_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}

#contact{
    padding: 25px 0 25px 0;
}

#contact_row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}

.contact_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.contact_col p,h3{
    font-weight: bold;
    color: #292929;
    margin: 10px;
}

.contact_col p a{
    text-decoration: none;
    color: #292929;
}

#social a{
    margin: 3px;
}

.contact_col form{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 70%;
    padding: 20px 40px 20px 20px;
}

.contact_col form h2{
    text-align: center;
    font-family: cursive;
}

.contact_col form input{
    width: 100%;
    height: 17pt;
    padding: 5px;
    margin: 5px;
}

.contact_col form textarea{
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.contact_col form button{
    margin: auto;
    padding: 10px;
    color: #fff;
    background-color: black;
    border: 1px solid black;
}

#footer{
    background-color: #292929;
    padding: 20px;
    position: relative;
}

#footer h5{
    text-align: center;
    color: gray;
}

#footer h5 a{
    color: #fff;
    text-decoration: none;
}

#top{
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#top a{
    color: #fff;
    font-size: 1.2rem;
}

.logo {
    display: flex;
    gap: 2;
    align-items: center;
}

/* login */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body.login{
  background: gray;
  /* background: #1abc9c; */
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: gray;
  /* background: #16a085; */
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: gray;
  /* border-color: #16a085; */
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: gray;
  border: 1px solid gray;
  /* background: #16a085;
  border: 1px solid #16a085; */
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: gray;
  /* color: #16a085; */
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: gray;
  border: 1px solid gray;
  /* background: #16a085;
  border: 1px solid #16a085; */
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: gray;
  /* color: #16a085; */
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

body.comment {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    padding: 2rem;
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    color: #333;
}

#comments {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 2rem;
    margin-top: 2rem;
}
#comments h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}
#comments-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
#comments-container p {
    background-color: #eef;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media(max-width: 800px){
    .hideOnMobile{ display: none;}
    }
@media(max-width: 400px){
    .sidebar{ width: 100%;}
    }